* {
  margin: 0;
  padding: 0;
  font-family: "myFont";
}

@font-face {
  font-family: "myFont";
  src: url(./font.ttf);
}

body {
  color: black;
  background-color: #f5f7fb;
  font-size: 18px;
}
/* navbar */
.navbar-container {
  width: 100%;
  padding: 15px;
  background-color: aqua;
}
  

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 70px;
}

.nav-login {
  height: 30px;
}

a {
  text-decoration: none;
}

.navbar a:hover {
  color: tomato;
}

/* my */

.heading {
  text-align: center;
  color: #2D9596;
 font-weight: 600;
 font-size: 40px;
  margin-top: 90px;
}

.sub-heading {
  text-align: center;
  margin-top: 20px;
  color: #2D9596;
  font-size: 13px;
  font-family: "Poetsen One", sans-serif;
  font-style: normal;
}

.contact-container {
  width: 40%;
  background-color: white;
  box-shadow: 0 0 10px 5px #c0d2d2;
  margin: auto;
  border-radius: 20px;
  margin-top: 70px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.contact-details {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
  margin-left: 80px;
  margin-top: 60px;
}

label {
  margin-bottom: -15px;
  margin-left: 15px;
  color: #2D9596;
  font-size: 14px;
  font-family: "Poetsen One", sans-serif;
  font-style: normal;
}

.input-box {
  height: 20px;
  width: 25vw;
  border-radius: 20px;
  padding: 10px;
  border: 2px solid #2D9596;
  color: #2D9596;
  font-family: "Poetsen One", sans-serif;
  font-style: normal;

}

.emoji{
  display: flex;
}

.textarea-box {

  border-radius: 20px;
  padding: 10px;
  border: 2px solid #2D9596;
  color: #2D9596;
  font-family: "Poetsen One", sans-serif;
  font-style: normal;

}

.contact-details h2 {

  font-weight: 600;
  color: #2D9596;
  font-size: 40px;
  margin-bottom: 5px;
}

.container-button {
  padding: 10px;
  width: 8vw;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 30px;
  font-size: large;
  border: 2px solid #9AD0C2;
  border-radius: 5px;
  background-color: #9AD0C2;
  color: black;

}
.container-button:hover{
  background-color: #2D9596;
  border: 2px solid #2D9596;

}

.container-button img {

  height: 25px;

}

.image-container {
  margin-right: 30px;
  margin-top: 70px;

}

.image-container img {
  height: 60vh;
}

.emoji{
  text-align: center;
  margin-left: 20px;
}