* {
  margin: 0;
  padding: 0;
  font-family: "myFont";
}

@font-face {
  font-family: "myFont";
  src: url(./font.ttf);
}
body,html{
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

/*.container {
   background-image: url('https://media.istockphoto.com/id/1429973363/photo/old-study-books-with-chalkboard.webp?b=1&s=170667a&w=0&k=20&c=NBCt0xV5IcJSq2VwBs8mjlY8nnYx61nUrBMGu1ZyEyo=');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}*/

.container {
     background-color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 50px;
     margin-bottom: 50px;
    

.feedback-form {
    background: rgba(215, 212, 212, 0.8) ;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 550px;
    width: 100%;
    padding: 1%;
}

h2{
    text-align: center;
    margin-top: 20px;
    padding: auto;
    color: rgb(45, 149, 150);
}

.label{
    display: block;
    margin-left: 5px;
}

.finput{
    height: 2%;
    width: 85%;
    padding: 10px;
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.finput1{
    height: 2%;
    width: 85%;
    padding: 10px;
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.btn{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 40%;
    margin-top: 15px;
}

.btn:hover {
    background-color: #45a049;
}
.radio{
    display: none;
}

.e{
    margin: 25px;
   
}
.emoji{
    display: flex;
    margin-left: 10%;
}
.e:hover{
    height: 40px;
    box-shadow: #FFFF00;
    
}
.feedback{
    width: 90%;
    border-radius: 15px;
    border: none;
    margin: 8px;

}