* {
  margin: 0;
  padding: 0;
  font-family: "myFont";
}

@font-face {
  font-family: "myFont";
  src: url(./font.ttf);
}

body {
  color: black;
  background-color: #f5f7fb;
  font-size: 18px;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 30px;
}

/* navbar */
.navbar-container {
  width: 100%;
  padding: 15px;
  background-color: aqua;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 70px;
}

.nav-login {
  height: 30px;
}

a {
  text-decoration: none;
}

.navbar a:hover {
  color: tomato;
}

/* Login */

.registration,
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.registration h3,
.login h3 {
  text-align: center;
  color: #2D9596;
  font-weight: 600;
  font-size: 30px;
}

.registration .registration-form,
.login .login-form {
  width: 350px;
  margin-top: 50px;
  border: 1px solid #2d9596;
  border-radius: 20px;
  box-shadow: 50px #2d9596;
  padding: 35px 30px;
  background-color: white;
}

.registration-form h5,
.login-form h5 {
  font-size: 18px;
  color: #131428;
  border-bottom: 4px solid #2d9596;
  padding-left: 10px;
  text-transform: uppercase;
}

.registration-form p,
.login-form p {
  font-size: 15px;
  color: black;
  margin-top: 10px;
}

.registration-form .input-form,
.login-form .input-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 15px;
}


.registration-form label,
.login-form label {
  margin-bottom: 25px;
  margin-left: 15px;
  color: #2D9596;
  font-size: 14px;margin: 10px;
  
}

.registration-form .input-form input,
.login-form .input-form input {
  height: 20px;
  width: 300px;
  border-radius: 20px;
  padding: 10px;
  border: 2px solid #2D9596;
  color: #2D9596;
  font-family: "Poetsen One", sans-serif;
  font-style: normal;
}

.registration-form .input-form button,
.login-form .input-form button {
  background-color: #9AD0C2;
  border: 2px solid #9AD0C2;
  border-radius: 5px;
  padding: 15px 20px;
  color: black; 
  font-size: large;
  font-weight: 500;
  margin-top: 15px;
  cursor: pointer;
  display: block;
}


.input-form button:hover {
  background-color: #2D9596;
  border: 2px solid #2D9596;
}

.registration .registration-form p a,
.login-form p a {
  text-decoration: none;
  color: #F1FADA;
  font-weight: 500;
}