* {
  margin: 0;
  padding: 0;
  font-family: "myFont";
}

@font-face {
  font-family: "myFont";
  src: url(./font.ttf);
}

body {
  line-height: 250%;
  color: black;
  background-color: #F1FADA;
  font-size: 18px;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 30px;
}

/* navbar */

.navbar {
  font-size: 20px;
  padding: 5px 0;
  margin: 0%;
  background-color: #2D9596;
}


.logo-1 {
  text-align: left;
  font-size: 30px;
  font-weight: 700;
  margin-left: 0;
  color: black;
}


.navbar .container {
 display: flex;
  border: none;
  justify-content: space-between;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-self: flex-end;
  align-items: end;
  justify-content: center;

}

.navbar a {
  padding: 0 15px;

}

.navbar a:hover {
  color: tomato;
}

/* Login */

.registration,
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.registration h3,
.login h3 {
  text-align: center;
  color: #2D9596;
  font-weight: 600;
  font-size: 30px;
}

.registration .registration-form,
.login .login-form {
  width: 350px;
  margin-top: 30px;
  border: 1px solid #9AD0C2;
  border-radius: 20px;
  box-shadow: 50px #F1FADA;
  padding: 35px 30px;
  background-color: #F1FADA;
}

.registration-form h4,
.login-form h4 {
  font-size: 18px;
  color: #131428;
  border-bottom: 4px solid #2D9596;
  padding-left: 10px;
  text-transform: uppercase;
}

.registration-form p,
.login-form p {
  font-size: 15px;
  color: black;
  margin-top: 10px;
}

.registration-form .input-form,
.login-form .input-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}


.registration-form label,
.login-form label {
  color: #2D9596;
  font-size: 14px;
  font-weight: 500;
}

.registration-form .input-form input,
.login-form .input-form input {
  width: -webkit-fill-available;
  margin-top: 10px;
  border: 1px solid black;
  height: 40px;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 15px;
  outline: none;
}

.registration-form .input-form button,
.login-form .input-form button {
  background-color: #9AD0C2;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  color: #F1FADA;
  font-size: 15px;
  font-weight: 500;
  margin-top: 15px;
  cursor: pointer;
}


.input-form button:hover {
  background-color: #2D9596;
}

.registration .registration-form p a,
.login-form p a {
  text-decoration: none;
  color: #F1FADA;
  font-weight: 500;
}