* {
    margin: 0;
    padding: 0;
    font-family: myfont;
}

@font-face {
    font-family: "myFont";
    src: url(./font.ttf);
  }

html,body {
    height: 100%;
    width: 100%;
    background-color: #f5f7fb;
}
.navbar-container{
    width: 100%;
    padding: 20px;
    background-color: rgb(45, 149, 150);
    position: fixed;
    color: black;

}
.navbar{
   
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.navbar h1{
    font-size: 1.8vw;
    font-weight: 900;
}
.navbar span{
    color: red;
}

.navbar-links{
    display: flex;
    list-style: none;
    gap: 70px; 
}
.nav-login{
    height: 30px;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 17px;
}
a:hover{
    color: red;
}
.main-container{
    padding-left:50px ;
    padding-right:40px ;
    padding-top: 1px;

}
.container{
    width: 100%;
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
}
.container-text{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container-text h1{
    font-size:60px;
    font-weight: 100;
    line-height: 75px;
}
.container-text p{
    font-size: 20px;
    line-height: 70px;
    text-align: start;
}
.container-text button{
    padding: 15px 30px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    background-color: rgb(45, 149, 150);
}
.container-img{
    width: 100%; 
}
.container-img img{
    /* height: 500px;
    width: 600px;  */
    width: 100%;
    border-radius: 15px;
}
.body-container{
    width: 90%;
    margin: 60px auto 0 auto;
    
}
.body-heading{
    text-align: center;
    font-size:40px;
    font-weight: 100;
}
.body-para{
    text-align: center;
    margin-top: 25px;
    
}
.body-books{
     
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
   
}
.book{
    width: 210px;
    padding:20px;
}
.book img{
    height: 200px;
    width: 150px;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 6px 2px rgb(171, 169, 169);
}
.book h3{
    text-align: center;
    padding: 15px 0;
 
}
.book-detail{
    text-align: center;
    font-size: 15px;
}
.book-prize{
    color: rgb(250, 69, 3);
    text-align: center;
    padding-top: 10px;
} 
.quetes-section{
    width: 80%;
    margin: 100px auto 100px auto;

}
.quetes-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}
.quetes-container img{
    height: 300px;
    width: 300px;
    border-radius: 10px;
}
.auther-name{
    color: rgb(250, 69, 3);
    line-height: 50px;
}
.text-quetes button{
    padding: 10px 25px;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    background-color:  rgb(45, 149, 150);
}
.feature-section{
    width: 90%;
    margin: 60px auto 0 auto;
}
.Feature-heading{
    text-align: center;
    font-size:40px;
    font-weight: 100;

}
.feature-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
}
.feature-books{
    width: 210px;
    padding:20px;

}
.feature-books img{
    height: 180px;
    width: 145px;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 6px 2px rgb(184, 183, 183);
}
.feature-books h3{
    text-align: center;
    padding: 10px 0;
}
.feature-books-detail{
    text-align: center;
    font-size: 14px;
}
.feature-books-prize{
    color: rgb(250, 69, 3);
    text-align: center;
    padding-top: 5px;
}





.footer-section{
    width: 100%;
    
}
.footer-navbar {
    width: 100%;
    background-color: rgb(154, 208, 194);
    color: black;
    padding: 1vw;
}

.parent-holder {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    /* border: 1px solid red; */
}

.social-media p,
.footer-info p,
.pages p {
    font-size: 1.5vw;
}

.list-footer img {
    width: 1.8vw;
}

.list-footer a {
    font-size: 1.5vw;
}

.footer-info {
    width: 30%;
}

.footer-info-2 {
    width: 40%;
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    margin-top: 1.5vw;
}

.pages {
    width: 30%;
}

.social-media ul a,
.pages ul li a {
    text-decoration: none;
    /* margin: 5px; */
    color: black;
}

.social-media ul li,
.pages ul li {
    list-style: none;
}

.list-footer li,
p {
    margin: 1vw;
}

.list-footer li a{
    position: relative;
    transition: .5s;
}

.list-footer li a:hover{
    color: red;
}

.list-footer li a span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-bottom: 2px solid red;
    transform:  scale(0) translateY(50px);
    transition: .5s;
}

.list-footer li a:hover span{
    transform: scale(1) translateY(0);
    opacity: 1;
}

.copyright {
    text-align: center;
    border-top: 1px solid rgb(53, 53, 53);
}

.copyright p {
    font-size: 1.5vw;
}























@media screen and (max-width: 700px) 
{

    .navbar-container{
        width: 100%;
        padding: 20px;
        background-color: aqua;
        position: fixed;
    
    }
    .navbar{
       
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
    }
    .navbar h1{
        display: none;
    }
    .navbar-links{
        display: flex;
        flex-direction: column;
        list-style: none;
        text-align: center;
        gap: 10px; 
        margin-top: 0px;
    }
    .navbar-links li{
        box-shadow: 0 0 2px 1px rgb(98, 98, 98);
        padding: 2px;
        padding: 2px 50px;
        
    }
    .nav-login{
        height: 30px;
        margin-top: 10px;
    }
    a{
        text-decoration: none;
    }



    .main-container{
        padding-left:70px ;
        padding-right:70px ;
        padding-top: 170px; 
    
    }
    .container{
        /* width: 100%;
        display: flex; */
        flex-direction: column;
        /* margin-top: 60px; */
    }
    .container-text{    
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%; */
    }
    .container-text h1{
        font-size:35px;
        /* font-weight: 100; */
        line-height: 52px;
    }
    .container-text p{
        font-size: 15px;
        line-height: 25px;
        /* text-align: start; */
    }
    .container-text button{
        padding: 12px 25px;
        font-size: 15px;
        border-radius: 5px;
        margin-top: 20px;
        margin-bottom: 30px;
        border: none;
        background-color: pink;
    }
    .container-img{
        width: 100%;
    }
    .container-img img{
        /* height: 500px;
        width: 600px; */
        width: 100%;
        border-radius: 15px;
    }
    .body-container{
        width: 90%;
        margin: 50px auto 0 auto;
        
    }
    .body-heading{
        /* text-align: center; */
        font-size:30px;
        /* font-weight: 100; */
    }
    .body-para{
        /* text-align: center; */
        margin-top: 22px;
        
    }
    .body-books{
         
        /* display: flex; */
        flex-direction: column;
        /* justify-content: space-between; */
        align-items: center;
        margin-top: 35px;
       
    }.quetes-section{
        width: 80%;
        margin: 4px auto 0 auto;
    
    }
    .quetes-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .quetes-container img{
        height: 250px;
        width: 250px;
    }
    .feature-section{
        width: 90%;
        margin: 40px auto 0 auto;
    }
    .Feature-heading{
        text-align: center;
        font-size:35px;
        font-weight: 100;
    
    }
    .feature-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 30px;
    }
    

    
}



