@font-face {
    font-family: "myFont";
    src: url(./font.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "myFont";
    
}
body{
    background-color: #f5f7fb;;
}

.nav-bar {
    width: 100%;
    height: 10vh;
    background-color:rgb(45, 149, 150);
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 13px;
    font-size: 1.8vw;
    font-weight: 900;
}

.list {
    display: flex;
    justify-content: end;
    /* align-items: center; */
    padding: 10px;
}

.list li a {
    position: relative;
    transition: .5s;
}

.list li a:hover {
    color: aqua;
}

.list li a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-bottom: 2px solid aqua;
    transform: scale(0) translateY(50px);
    transition: .5s;
}
.list li a:hover span{
    transform: scale(1) translateY(0);
    opacity: 1;
}

.list li {
    margin: 10px;
    list-style-type: none;
    font-size: 1.2vw;
    text-transform: uppercase;
}

.list-footer img {
    width: 30px;
}

.list li a {
    text-decoration: none;
    color: black;
}

.red {
    color: white;
}


.body_container {
    background-color: white;
}

.tagline_img {
    margin-top: 10px;
    width: 99.85%;
}

.books_categories_img {
    margin-left: 25%;
    margin-top: 25px;
    border-radius: 5px;
    box-shadow: 0 2px 3px 3px grey;
}

.heading {
    color: black;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    font-size: 35px;
    margin-top: 30px;
    text-decoration: underline;
    color: #265073;

}

.sub_heading {
    font-size: 24px;
    margin-left: 20px;
    margin-top: 0px;
    color: #265073;
}


.book_category_card_container {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    border: 1px solid #2D9596;
    height: 355px;
    

}

.book_category_name_card {
    width: 24%;
    margin: 0px 15px 0px 0px;
    background-color: #2D9596;
    height: 355px;



}


.book_category_name_card p,
.book_category_name_card h2,
.book_category_name_card a {
    
    margin-left: 20px;
}


.book_card {
    width: 16%;
    height: 93%;
    margin: 10px;
    margin-left: 20px;
    box-shadow: 0 2px 3px 3px gray;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    transition: all 0.2s ease-in-out;
    align-items: start;
    justify-content: start;

    background-color: #F6F5F2;
}


.book_card a {
    text-decoration: none;
    box-shadow: 0 0 2px 2px #9AD0C2;
    padding: 5px 15px;
    background-color: #265073;
    color: white;
    font-size: 18px;
    margin-top: 10px;
    border-radius: 5px;

}

.book_category_name_card a {
    display: inline-block;
    font-size: large;
    color: black;
    text-decoration: none;
    background-color: #e1ece9;
    border-radius: 5px;
    box-shadow: 0 0px 2px 2px rgb(53, 53, 53);
    padding: 5px 20px;
    margin-bottom: 5px;
    margin-left: 70px;
    margin-top: 15px;

}

.book_card:hover {
    box-shadow: 0 2px 1px 2px #2d9596;
}

.book_category_name_card a:hover {
    background-color: #265073;

    color: white;
}

.book_card a:hover {
    background-color: #2D9596;

}

.book_card img {
    width: 100%;
    height: 220px;
    object-fit: max-content;

}

.book_category_name_card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    
}

.book_title {
    color: #265073;
}

.book_price {
    color: red;
    text-align: start;
    margin: 10px;
    margin-bottom: 10px;
    font-weight: bold;


}

.second_section_book_card {
    display: inline-flex;
    align-items: center;
    margin-bottom: 0px;
}

.second_section_book_card img {
    margin-left: 5px;
    height: 200px;
    width: 152px;
    margin-bottom: 0px;
    
}

.second_section_book_card span {
    font-size: 30px;
    color: #265073;
    margin-left: 20px;
    margin-right: 50px;
    font-weight: bold;
}

.second_section_book_card p {
    font-size: 25px;
}

.book_category_card_container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book_card2 {
    width: 25%;
    margin-bottom: 40px;
    margin-right: 30px;
    margin-left;
    box-shadow: 0 0 2px 3px rgba(24, 24, 24, 0.2);
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    transition: all 0.2s ease-in-out;
    align-items: start;
    justify-content: start;
    padding-bottom: 30px;
    background-color:  #F6F5F2;
}

.book_card2 img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.book_card2 h2,
.book_card2 p {
    padding: 15px;
    text-align: justify;

}

.book_card2:hover {
    box-shadow: 0 0 2px 2px rgba(24, 24, 24, 0.5);
}



/*.book_card2 a {
    display: inline-block;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    /*border: 1px solid cadetblue;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    background-color: #9AD0C2;


}*/

.book_card2 {
    position: relative; /* Ensure the card is a positioned element */
}

.book_card2 a {
    display: inline-block;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    background-color: #9AD0C2;
    position: absolute; /* Position the link relative to its containing card */
    bottom: 15px; /* Adjust the position from the bottom */
    right: 100px; /* Adjust the position from the right */
}

.book_card2 a:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    padding: 10px 21px;
}

/*footer css*/

.footer-navbar {
    width: 100%;
    background-color: rgb(45, 149, 150);
    color: black;
    padding: 1vw;
}

.parent-holder {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    /* border: 1px solid red; */
}

.social-media p,
.footer-info p,
.pages p {
    font-size: 1.5vw;
}

.list-footer img {
    width: 1.8vw;
}

.list-footer a {
    font-size: 1.5vw;
}

.footer-info {
    width: 30%;
}

.footer-info-2 {
    width: 40%;
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    margin-top: 1.5vw;
}

.pages {
    width: 30%;
}

.social-media ul a,
.pages ul li a {
    text-decoration: none;
    /* margin: 5px; */
    color: black;
}

.social-media ul li,
.pages ul li {
    list-style: none;
}

.list-footer li,
p {
    margin: 1vw;
}

.list-footer li a{
    position: relative;
    transition: .5s;
}

.list-footer li a:hover{
    color: aqua;
}

.list-footer li a span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-bottom: 2px solid aqua;
    transform:  scale(0) translateY(50px);
    transition: .5s;
}

.list-footer li a:hover span{
    transform: scale(1) translateY(0);
    opacity: 1;
}

.copyright {
    text-align: center;
    border-top: 1px solid rgb(53, 53, 53);
}

.copyright p {
    font-size: 1.5vw;
}



/* Small Devices */
@media screen and (min-width: 300px) and (max-width: 500px) {
    .list a {
        font-size: 2.4vw;
    }


   
   
    .tagline_img {
        margin-top: 10px;
        width: 99.85%;
        height: 40px;
    }
  
    .books_categories_img {
        margin-left: 16%;
        margin-top: 20px;
        width: 70%;
       
       
    }
    .heading {
        font-size: 28px;
     }
  
  
    h1 {

        font-size: 1.7em;
        margin-bottom:10px;
    }

    .sub_heading {
        margin-left: 10px;
        margin-bottom: 0px;
        font-size: 20px;
        flex-wrap: wrap;

    }

    .book_category_card_container {
        height: 330px;
          
   }

   .book_category_name_card {
    width: 59%;
    height: 100%;  
}


.book_category_name_card img {
width: 100%;
height: 30%;
object-fit: cover;

}


.book_category_name_card p,
.book_category_name_card h2{
    margin-left: 13px;
}
.book_category_name_card a {
   
    padding: 5px 15px;
    margin:0px 25px 10px 30px;
    font-size: medium;
    margin-top: 10px;
}


.book_card {
    width: 29%;
    height: 90%;
    margin: 10px;
    margin-left: 10px;
   
}

.book_card img {
    width: 100%;
    height: 60%;
    object-fit: max-content;

}
.center{
    text-align: center;
    margin-left: 30px;
    justify-content: center;
}

.book_card a {
    text-decoration: none;
    box-shadow: 0 0 2px 2px #9AD0C2;
    padding: 5px 15px;
    background-color: #265073;
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 5px;

}

.mayor_book_card, .michael_book_card, .mystry_book_card,
.arthashastra_book_card,.dark_forest_book_card,.time_machine_book_card,
.volume_book_card, .mahabharat_book_card, .house_key_book_card{
    display:none;
}


.second_section_book_card img {
    margin-left: 5px;
    height: 180px;
    width: 142px;
   
    
}


.second_section_book_card span {
    font-size: 25px;
    
    margin-left: 20px;
    margin-right: 50px;
    font-weight: bold;
}

.second_section_book_card p{
    font-size: 20px;
}

  


    .book_card2 {
        width: 50%;
        margin-left: 10px;
        margin-bottom: 60px;
        margin-right: 90px;
        justify-content: center;
    }

    .book_card2 a {
        margin: 0 20px;
        border-radius: 10px;
        padding: 5px 10px;

    }
   
    .book_card2 p {
        display: none;
    }

    /*footer text*/
    .social-media p,
    .footer-info p,
    .pages p {
        font-size: 3.5vw;
    }

    .txt-info {
        font-size: 3vw;
        padding: 1vw 1vw;
    }

    .list-footer img {
        width: 3vw;
    }

    .list-footer a {
        font-size: 2.9vw;
    }

    .copyright p {
        font-size: 3vw;
    }

    .parent-holder {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    .footer-info {
        width: 100%;
    }

    .footer-info-2 {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .logo {
        font-size: 3.5vw;
    }


}


/*Mobile Devices */
@media screen and (min-width: 450px) and (max-width: 660px) {
   
    .books_categories_img {
        margin-left: 16%;
        margin-top: 20px;
        width: 70%;
       
       
    }
    .heading {
        font-size: 28px;
     }


    h1 {

        font-size: 1.7em;
        margin-bottom:10px;
    }

    .sub_heading {
        margin-left: 10px;
        margin-bottom: 0px;
        font-size: 20px;
        flex-wrap: wrap;

    }

    .book_category_card_container {
        height: 320px;
          
   }

   .book_category_name_card {
    width: 38%;
    height: 100%;  
}


.book_category_name_card img {
width: 100%;
height: 30%;
object-fit: cover;

}


.book_category_name_card p,
.book_category_name_card h2{
    margin-left: 13px;
}
.book_category_name_card a {
   
    padding: 5px 15px;
    margin:0px 25px 10px 30px;
    font-size: medium;
}


.book_card {
    width: 24%;
    height: 90%;
    margin: 10px;
    margin-left: 15px;
   
}

.book_card img {
    width: 100%;
    height: 60%;
    object-fit: max-content;

}


.book_card a {
    text-decoration: none;
    box-shadow: 0 0 2px 2px #9AD0C2;
    padding: 5px 15px;
    background-color: #265073;
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 5px;

}

.mayor_book_card, .michael_book_card, .mystry_book_card,
.arthashastra_book_card,.dark_forest_book_card,.time_machine_book_card{
    display:none;
}


.second_section_book_card img {
    margin-left: 5px;
    height: 180px;
    width: 142px;
   
    
}


.second_section_book_card span {
    font-size: 25px;
    
    margin-left: 20px;
    margin-right: 50px;
    font-weight: bold;
}

.second_section_book_card p{
    font-size: 20px;
}



    .book_card2 {
        width: 50%;
        margin-left: 10px;
        margin-bottom: 60px;
        margin-right: 90px;
        justify-content: center;
    }

    .book_card2 a {
        margin: 0 20px;
        border-radius: 5px;
        padding: 10px 10px;

    }
    .txt-info {
        font-size: 1.7vw;
        padding: 1vw 1vw;
    }
    
}


/* Tablet Devices */
@media screen and (min-width: 661px) and (max-width: 1210px) {
    .tagline_img {
        margin-top: 10px;
        width: 99.85%;
    }
    
    .books_categories_img {
        margin-left: 16%;
        margin-top: 20px;
        width: 70%;
       
       
    }
    
    .heading {
        font-size: 30px;
     }
   
   
   
    h1 {

        font-size: 2em;
        margin-bottom: 10px;
    }

    .sub_heading {
        margin-left: 40px;
        margin-bottom: 10px;
        font-size: 22px;
        flex-wrap: wrap;

    }

    .book_category_card_container {
         height: 325px;
           
    }
    
    .book_category_name_card {
        width: 30%;
        height: 100%;  
    }

    
.book_category_name_card img {
    width: 100%;
    height: 30%;
    object-fit: cover;
    
}
    
    
    .book_category_name_card p,
    .book_category_name_card h2{
        margin-left: 13px;
    }
    .book_category_name_card a {
       
        padding: 5px 15px;
        margin:0px 25px 10px 30px;
        font-size: medium;
        margin-top: 15px;
    }
    
    
    .book_card {
        width: 18%;
        height: 90%;
        margin: 10px;
        margin-left: 15px;
       
    }

    .book_card img {
        width: 100%;
        height: 60%;
        object-fit: max-content;
    
    }
    
    
    .book_card a {
        text-decoration: none;
        box-shadow: 0 0 2px 2px #9AD0C2;
        padding: 5px 15px;
        background-color: #265073;
        color: white;
        font-size: 18px;
        margin-bottom: 10px;
        border-radius: 5px;
    
    }
   


    .book_card2 {
        width: 30%;
        margin-bottom: 60px;
        margin-right: 80px;
        justify-content: space-evenly;
    }

    .book_card2 a {
        margin: 0 20px;
        border-radius: 5px;
        padding: 10px 10px;

    }

    .book_card2 h2,
    .book_card2 p {
        padding: 10px;

    }

    .mayor_book_card, .michael_book_card, .mystry_book_card{
        display:none;
    }

    .second_section_book_card img {
        margin-left: 5px;
        height: 180px;
        width: 142px;
       
        
    }
    
    .second_section_book_card span {
        font-size: 25px;
        color: #265073;
        margin-left: 20px;
        margin-right: 50px;
        font-weight: bold;
    }

    .txt-info,
    .list-footer a {
        font-size: 1.8vw;
    }

    .footer-info p,
    .social-media p,
    .pages p {
        font-size: 2vw;
    }

    .list-img {
        display: none;
    }

    .list li a {
        font-size: 2.1vw;
    }

    .logo {
        font-size: 2.8vw;
    }


}