@font-face {
    font-family: "myFont";
    src: url(./font.ttf);
}



.Nav-bar{
    width: 100%;
    height: 10vh;
    background-color: rgb(252, 252, 252);
    
}

.List{
    display: flex;
    justify-content: end;
    /* align-items: center; */
    padding: 10px;
}

.List li{
    margin: 10px;
    list-style-type: none;
    font-size: 1.2vw;
    text-transform: uppercase;
}

.List-footer img{
    width: 30px;
}

.List li a{
    text-decoration: none;
    color: black;
}


.container{
    width: 100%;
    height: 100%;
    border: 2px solid rgb(234, 255, 0);
}



.contain{
    width: 100%;
    height: 100vh;
    background: #CAE6B2;
}


.footer-navbar{
    width: 100%;
    background-color: black;
    color: white;
    padding: 1vw;
    
}


.parent-holder{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.Social-media{
    width: 30%;
    /* border: 1px solid red; */
   
}

.footer-info{
    width: 30%;
    
}

.Pages{
    width: 30%;
   
}
.Social-media ul a,.Pages ul li a{
    text-decoration: none;
    /* margin: 5px; */
    color: white;
}

.Social-media ul li, .Pages ul li{
    list-style:none;
}

/* .List-footer{
    border: 1px solid red;
} */

.List-footer li,p{
    margin: 1vw;
}

.copyright{
    text-align: center;
    border-top:1px solid rgb(53, 53, 53) ;
}
