* {
    margin: 0;
    padding: 0;
}
html,body {
    height: 100%;
    width: 100%;
    background-color: #f5f7fb;
}
.navbar-container{
    width: 100%;
    padding: 20px;
    background-color: aqua;
    position: fixed;

}
.navbar{
   
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.navbar-links{
    display: flex;
    list-style: none;
    gap: 70px; 
}
.nav-login{
    height: 30px;
}
a{
    text-decoration: none;
}
.main-container{
    padding-left:50px ;
    padding-right:40px ;
    padding-top: 50px;

}
.container{
    width: 100%;
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
}
.container-text{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container-text h1{
    font-size:60px;
    font-weight: 100;
    line-height: 75px;
}
.container-text p{
    font-size: 20px;
    line-height: 70px;
    text-align: start;
}
.container-text button{
    padding: 15px 30px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    background-color: pink;
}
.container-img{
    width: 100%;
}
.container-img img{
    /* height: 500px;
    width: 600px; */
    width: 100%;
    border-radius: 15px;
}
.body-container{
    width: 90%;
    margin: 60px auto 0 auto;
    
}
.body-heading{
    text-align: center;
    font-size:40px;
    font-weight: 100;
}
.body-para{
    text-align: center;
    margin-top: 25px;
    
}
.body-books{
     
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
   
}
.book{
    width: 210px;
    padding:20px;
}
.book img{
    height: 200px;
    width: 150px;
    display: block;
    margin: 0 auto;
}
.book h3{
    text-align: center;
    padding: 15px 0;
 
}
.book-detail{
    text-align: center;
    font-size: 15px;
}
.book-prize{
    color: rgb(250, 69, 3);
    text-align: center;
    padding-top: 10px;
} 
.quetes-section{
    width: 80%;
    margin: 60px auto 0 auto;

}
.quetes-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}
.quetes-container img{
    height: 400px;
    width: 400px;
}
.auther-name{
    color: rgb(250, 69, 3);
    line-height: 50px;
}
.text-quetes button{
    padding: 10px 25px;
    font-size: 12px;
    border-radius: 2px;
    border: none;
    background-color: pink;
}
.feature-section{
    width: 90%;
    margin: 60px auto 0 auto;
}
.Feature-heading{
    text-align: center;
    font-size:40px;
    font-weight: 100;

}
.feature-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
}
.feature-books{
    width: 210px;
    padding:20px;

}
.feature-books img{
    height: 180px;
    width: 145px;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 6px 2px rgb(184, 183, 183);
}
.feature-books h3{
    text-align: center;
    padding: 10px 0;
}
.feature-books-detail{
    text-align: center;
    font-size: 14px;
}
.feature-books-prize{
    color: rgb(250, 69, 3);
    text-align: center;
    padding-top: 5px;
}
.footer-section{
    width: 100%;
    background-color: rgb(118, 111, 111);
}
.footer-container{
       
}
@media screen and (max-width: 600px) 
{
    .main-container{
        padding-left:70px ;
        padding-right:70px ;
        /* padding-top: 50px; */
    
    }
    .container{
        /* width: 100%;
        display: flex; */
        flex-direction: column;
        /* margin-top: 60px; */
    }
    .container-text{    
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%; */
    }
    .container-text h1{
        font-size:35px;
        /* font-weight: 100; */
        line-height: 52px;
    }
    .container-text p{
        font-size: 15px;
        line-height: 25px;
        /* text-align: start; */
    }
    .container-text button{
        padding: 12px 25px;
        font-size: 15px;
        border-radius: 5px;
        margin-top: 20px;
        margin-bottom: 30px;
        border: none;
        background-color: pink;
    }
    .container-img{
        width: 100%;
    }
    .container-img img{
        /* height: 500px;
        width: 600px; */
        width: 100%;
        border-radius: 15px;
    }
    .body-container{
        width: 90%;
        margin: 50px auto 0 auto;
        
    }
    .body-heading{
        /* text-align: center; */
        font-size:30px;
        /* font-weight: 100; */
    }
    .body-para{
        /* text-align: center; */
        margin-top: 22px;
        
    }
    .body-books{
         
        /* display: flex; */
        flex-direction: column;
        /* justify-content: space-between; */
        align-items: center;
        margin-top: 35px;
       
    }.quetes-section{
        width: 80%;
        margin: 4px auto 0 auto;
    
    }
    .quetes-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2px;
    }
    .quetes-container img{
        height: 300px;
        width: 300px;
    }
    .feature-section{
        width: 90%;
        margin: 40px auto 0 auto;
    }
    .Feature-heading{
        text-align: center;
        font-size:35px;
        font-weight: 100;
    
    }
    .feature-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 30px;
    }
    

    
}




