@font-face {
    font-family: "myFont";
    src: url(./font.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "myFont";
}

.nav-bar {
    width: 100%;
    height: 10vh;
    background-color: rgb(45, 149, 150);
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 13px;
    font-size: 1.8vw;
    font-weight: 900;
}

.list {
    display: flex;
    justify-content: end;
    /* align-items: center; */
    padding: 10px;
}

.list li a {
    position: relative;
    transition: .5s;
}

.list li a:hover {
    color: aqua;
}

.list li a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-bottom: 2px solid aqua;
    transform: scale(0) translateY(50px);
    transition: .5s;
}
.list li a:hover span{
    transform: scale(1) translateY(0);
    opacity: 1;
}

.list li {
    margin: 10px;
    list-style-type: none;
    font-size: 1.2vw;
    text-transform: uppercase;
}

.list-footer img {
    width: 30px;
}

.list li a {
    text-decoration: none;
    color: black;
}



.containe-holder {
    width: 100%;
    height: 100%;
    background: #F5F7fb;
}



.contain-parent {
    width: 100%;
    height: fit-content;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    padding: 3vw;
}


.text {
    /* border: 1px solid #577B8D; */
    width: 45%;
    border-radius: 5px;
}

.text-header {
    /* border-bottom: 1px solid #575655; */
    border-width: 1px;
    border-radius: 2px;
    font-size: 3vw;
    color: black;
    text-align: center;
    font-weight: bold;
}

.step {
    /* border: 1px solid red; */
    background-color: #F6F5F2;
    margin: 2vw;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px gray;
}

.white {
    color:rgb(246, 245, 242)
}

.b{
    color: rgb(45, 149, 150);
}

.step-txt {
    font-weight: bold;
    color: rgb(45, 148, 149);
}

.text-img {
    margin: 10px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.img-step {
    padding: 1vw 1vw;
    width: 20%;
    margin: .5vw;
    border-radius: 5px;
    /* box-shadow: 1px 3px 1px 1px gray; */
}

.form-function {
    width: 30%;
    padding: 2vw;
    background-color: #f1f1f1;
    border-radius: 5px;
    border: 1px solid rgb(195, 191, 191);
    box-shadow: .2vw .2vw .6vw .1vw gray;
}

.form-function form{
    padding: 0 5px;
    /* border: 1px solid red; */
}

.form-function p {
    /* text-align: center; */
    font-size: 1.5vw;
    border-bottom: 1.9px solid rgb(244, 246, 255);
}


input[type="text"],
select {
    width: 100%;
    padding: 0.5vw;
    border-radius: 15px;
    background-color: rgb(254, 251, 251);
}

input[type="radio"] {
    margin-left: 0.9vw;
}

.input-group {
    margin-top: 0.8vw;
}

.input-group label {
    display: block;
    font-size: 1.2vw;
}


button {
    padding: 0.8vw;
    width: 100%;
    font-size: 1.5vw;
    margin-top: 14px;
    border-radius: 5px;
    color: black;
    background-color: #9AD0C2;
    border: none;
}

button:hover {
    background-color: #2D9596;
}

.list-img {
    width: 5vw;
}

/*footer css*/

.footer-navbar {
    width: 100%;
    background-color:rgb(45, 149, 150);
    color: black;
    padding: 1vw;
}

.parent-holder {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    /* border: 1px solid red; */
}

.social-media p,
.footer-info p,
.pages p {
    font-size: 1.5vw;
}

.list-footer img {
    width: 1.8vw;
}

.list-footer a {
    font-size: 1.5vw;
}

.footer-info {
    width: 30%;
}

.footer-info-2 {
    width: 40%;
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    margin-top: 1.5vw;
}

.pages {
    width: 30%;
}

.social-media ul a,
.pages ul li a {
    text-decoration: none;
    /* margin: 5px; */
    color: black;
}

.social-media ul li,
.pages ul li {
    list-style: none;
}

.list-footer li,
p {
    margin: 1vw;
}

.list-footer li a{
    position: relative;
    transition: .5s;
}

.list-footer li a:hover{
    color: aqua;
}

.list-footer li a span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-bottom: 2px solid aqua;
    transform:  scale(0) translateY(50px);
    transition: .5s;
}

.list-footer li a:hover span{
    transform: scale(1) translateY(0);
    opacity: 1;
}

.copyright {
    text-align: center;
    border-top: 1px solid rgb(53, 53, 53);
}

.copyright p {
    font-size: 1.5vw;
}


/*small Device*/
@media screen and (max-width:600px) {

    /*navbar */
    .list a {
        font-size: 2.4vw;
    }

    /*containe*/
    .contain-parent {
        flex-direction: column;
        width: 100%;
    }

    .text {
        width: 100%;
    }

    .form-function {
        margin-top: 10px;
        width: 100%;
    }

    .img-step {
        width: 15vw;
    }

    .step {
        width: 90%;
        height: 15vh;
        margin: auto;
        padding: 1px 5px;
        margin-bottom: 15px;
    }

    .step-containe {
        font-size: 2.7vw;
    }

    .form-function p {
        font-size: 3vw;
    }

    .input-group {
        margin: 9px;
    }

    .input-group label {
        font-size: 2.9vw;
    }

    input[type="text"],
    input[type="file"],
    select {
        padding: 1.8vw;
        font-size: 2.5vw;
    }

    button {
        width: 20%;
        padding: 15px 0;
        font-size: 3vw;
    }

    /*footer text*/
    .social-media p,
    .footer-info p,
    .pages p {
        font-size: 3.5vw;
    }

    .txt-info {
        font-size: 3vw;
        padding: 1vw 1vw;
    }

    .list-footer img {
        width: 3vw;
    }

    .list-footer a {
        font-size: 2.9vw;
    }

    .copyright p {
        font-size: 3vw;
    }

    .parent-holder {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    .footer-info {
        width: 100%;
    }

    .footer-info-2 {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .logo {
        font-size: 3.5vw;
    }
}


/*Normal Device*/
@media screen and (min-width:601px) and (max-width:768px) {
    .contain-parent {
        flex-direction: column;
        width: 100%;
    }

    .text-header {
        font-size: 3.1vw;
    }

    .text {
        width: 100%;
    }

    .img-step {
        width: 12vw;
    }

    .step {
        width: 70%;
        height: 15vh;
        margin: auto;
        padding: 1px 5px;
        margin-bottom: 15px;
    }

    .list li a {
        font-size: 2.5vw;
    }

    .step-containe {
        font-size: 2.5vw;
    }

    .form-function {
        margin-top: 10px;
        width: 100%;
    }

    .form-function p {
        font-size: 3vw;
    }

    .input-group {
        margin: 7px;
    }

    .input-group label {
        font-size: 2.5vw;
    }

    input[type="text"],
    input[type="file"],
    select {
        padding: 1.8vw;
        font-size: 2vw;
    }

    button {
        width: 15%;
        padding: 10px 0;
        font-size: 2.5vw;
    }

    .txt-info {
        font-size: 2.7vw;
    }

    .parent-holder {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-info {
        width: 100%;
    }

    .footer-info-2 {
        width: 100%;
    }

    .social-media p,
    .footer-info p,
    .pages p {
        font-size: 3.5vw;
    }

    .list-footer a {
        font-size: 2.5vw;
    }

    .list-footer li img {
        width: 3vw;
    }

    .copyright p {
        font-size: 2.7vw;
    }

    .logo {
        font-size: 3vw;
    }
}

/*Tablets Device*/
@media screen and (min-width:769px) and (max-width:992px) {
    .text-header {
        font-size: 2.5vw;
    }

    .img-step {
        width: 8vw;
    }

    .step-containe {
        font-size: 1.5vw;
    }

    .step {
        height: 18vh;
        margin: 15px 10px;
        padding: 5px 5px;
    }

    input[type="text"],
    input[type="file"],
    select {
        padding: 0.2vw;
        font-size: 1.5vw;
    }

    .txt-info,
    .list-footer a {
        font-size: 1.8vw;
    }

    .footer-info p,
    .social-media p,
    .pages p {
        font-size: 2vw;
    }

    .list-img {
        display: none;
    }

    .list li a {
        font-size: 2.1vw;
    }

    .logo {
        font-size: 2.8vw;
    }
}


/*Large Device*/
@media screen and (min-width:993px) and (max-width:1250px) {

    .text-header {
        font-size: 2.8vw;
    }

    .img-step {
        width: 7vw;
    }

    .step-containe {
        font-size: 1.5vw;
    }

    .list li a {
        font-size: 1.7vw;
    }

    .step {

        height: 17vh;
        margin: 19px 13px;
        padding: 0 6px;
    }

    input[type="text"],
    input[type="file"],
    select {
        padding: 0.2vw;
        font-size: 1.2vw;

    }

    input[type="radio"] {
        font-size: 1.2vw;
    }

    .txt-info {
        font-size: 1.7vw;
    }

    .list-img {
        display: none;
    }

    .logo {
        font-size: 2.5vw;
    }
}