body {

    margin: 0;
    padding: 0px;
}

.container {
    background-color: #f5f7fb;
    /*background-color: #FDD2BF;*/
    border: 2px solid #FDD2BF;
    margin-right: 20px;
}

.contain {
    background: #f5f7fb;
    margin-right: 0px;


}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;


}

.book-category-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book-card {
    width: 25%;
    margin-bottom: 40px;
    margin-right: 30px;
    margin-left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    transition: all 0.2s ease-in-out;
    align-items: start;
    justify-content: start;
    padding-bottom: 30px;



}

.sub_heading {
    margin-left: 30px;
}

.book-card:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.book-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.book-card h2,
.book-card p {
    padding: 15px;

}

.sub_heading {
    margin-left: 84px;
}

.book-card a {
    display: inline-block;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    border: 1px solid #ffa4a4;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    padding: 10px 10px;


}

.book-card a:hover {
    background-color: #fa8888;
}


.footer-navbar,
.Social-media ul a,
.Pages ul li a {

    color: black;

}

.Pages p,
.Social-media p {
    margin-left: 50px;
}

/* Mobile Devices */
@media screen and (min-width: 300px) and (max-width: 500px) {
    h1 {

        font-size: 1.7em;
        margin-bottom:10px;
    }

    .sub_heading {
        margin-left: 10px;
        margin-bottom: 0px;
        font-size: 20px;
        flex-wrap: wrap;

    }

    .book-card {
        width: 50%;
        margin-left: 10px;
        margin-bottom: 60px;
        margin-right: 90px;
        justify-content: center;
    }

    .book-card a {
        margin: 0 20px;
        border-radius: 10px;
        padding: 5px 10px;

    }
   
    .book-card p {
        display: none;
    }
}



@media screen and (min-width: 450px) and (max-width: 660px) {
    h1 {

        font-size: 1.7em;
        margin-bottom:10px;
    }

    .sub_heading {
        margin-left: 10px;
        margin-bottom: 0px;
        font-size: 20px;
        flex-wrap: wrap;

    }

    .book-card {
        width: 50%;
        margin-left: 10px;
        margin-bottom: 60px;
        margin-right: 90px;
        justify-content: center;
    }

    .book-card a {
        margin: 0 20px;
        border-radius: 5px;
        padding: 10px 10px;

    }
}


/* Tablet Devices */
@media screen and (min-width: 661px) and (max-width: 990px) {

    h1 {

        font-size: 2em;
        margin-bottom: 10px;
    }

    .sub_heading {
        margin-left: 50px;
        margin-bottom: 0px;
        font-size: 22px;
        flex-wrap: wrap;

    }

    .book-card {
        width: 30%;
        margin-bottom: 60px;
        margin-right: 80px;
        justify-content: space-evenly;
    }

    .book-card a {
        margin: 0 20px;
        border-radius: 5px;
        padding: 10px 10px;

    }

    .book-card h2,
    .book-card p {
        padding: 10px;

    }




}