@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Titan+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    background-color: #e7d8c4;
}

html,body{
    height: 100%;
    width: 100%;
}
#navbar{
    width: 100%;
    background-color: #3c1c11;
    height: 100px;
}
.heading{
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
    text-align: center;
    font-size: 85px;
    color: #3c1c11;
    margin-top: 90px;
}
.sub-heading{
    text-align: center;
    margin-top: 25px;
    color: #3c1c11;
    font-size: 18px;
}
.container{
    background-color: #f5ede3;
    height: 60vh;
    width: 70vw;
    margin: 60px auto 0 auto;
}
.address-detail{
          display: flex;
          justify-content: space-evenly;  
          height: 29vh;
}
.info{
  
    height: 20vh;
    width: 20vw;
    margin-top: 50px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.info img{
    border-radius: 50%;
    border: 1px solid #3c1c11;
    padding: 10px;
    height: 61px;
}
.last-container{
  
  display: flex;
  width: 70vw;
  margin: 0 auto;

}
.last-image{
    border-radius: 20px;
    height: 500px;
}
.last-heading{
    font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

  