@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Titan+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    scroll-behavior: smooth;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #e9d4b9;
}
#navbar{
    width: 100%;
    background-color: #3c1c11;
    height: 60px;
}
.heading{
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 53px;
   color: #3c1c11;
   margin-top: 90px;
}
.sub-heading{
    text-align: center;
    margin-top: 23px;
    color: #3c1c11;
    font-size: 13px;
    font-family: "Poetsen One", sans-serif;
    font-style: normal;
}

.contact-container{
    width: 80%;
    background-color: #f5ede3;
    margin: auto;
    border-radius: 20px;
}
.container{
    display: flex;
    justify-content: space-between;
}
.contact-details{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    margin-left: 70px;
    margin-top: 60px;
}
.input-box{
    height: 40px;
    width: 22vw;
    border-radius: 20px;
    padding: 10px;
    border: 2px solid gray;
}
.textarea-box{

    border-radius: 20px;
    padding: 10px;
    border: 2px solid gray;
    
}
.contact-details h2{

    font-weight: 600;
    color: #a363aa;
    font-size: 40px;
    margin-bottom: 5px;
}
.container-button{
    padding: 10px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: large;
    border-radius: 20px;
}
.container-button img{

      height: 25px;
    
}
.image-container{
    margin-right: 30px;
    margin-top: 40px;
   
}
.image-container img{
    height: 60vh;
}









.address-detail{
          display: flex;
          justify-content: center;  
          gap: 9vw;
          height: 29vh;
          margin-top: 3vh;
}
.info{
    height: 15vh;
    width: 17vw;
    margin-top: 50px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.info img{
    border-radius: 50%;
    border: 1px solid #3c1c11;
    padding: 10px;
    height: 50px;
}
.last-container{
  
  display: flex;
  width: 70vw;
  margin: 0 auto;
  margin-top:15px;
}
.last-image{
    border-radius: 25px;
    height: 30vh;
    width: 20vw;
    margin-left: 90px;
}
.last-heading{
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 14vw;
  font-size: 30px;
  color: #3c1c11;
}
.last-para{
    margin-left: 9vw;
    margin-top: 25px;
    font-size: 11px;
    font-family: "Poetsen One", sans-serif;
    font-style: normal;
    color: #3c1c11;
    text-align: justify;
}
.btn{
       margin-left:25vw ;
       margin-top: 27px;
       padding: 10px;
       font-size: small;
       color: #3c1c11;
}
.last-container1{
    display: flex;
    width: 70vw;
    margin: 0 auto;
    margin-top:15vh;
   
}
.last-heading1{

    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #3c1c11;
    margin-left: 90px;
}
.last-image1{
    border-radius: 25px;
    height: 30vh;
    width: 20vw;
    margin-left: 9vw;
}
.last-para1{
    margin-top: 25px;
    font-size: 11px;
    font-family: "Poetsen One", sans-serif;
    font-style: normal;
    color: #3c1c11;
    text-align: justify;
    margin-left: 90px;

}
.btn1{
       margin-left:19vw ;
       margin-top: 27px;
       padding: 10px;
       font-size: small;
       color: #3c1c11;
}

  